/* ***** commons ***** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 90%;
    margin: auto;
    max-width: 1170px;
}

/* ***** header ***** */

header{
    font-weight: 600;
    height: 80px;
    background-color: rgb(37 94 233);
    line-height: 80px;
}

 #logo , #bottone{
     width: 25%;
     float: left;
}

#logo img {
    vertical-align: middle;
}

#bottone {
    vertical-align:middle;
    text-align: right;
}

.btn:hover{
    text-decoration: none;
}

nav{
    width: 50%;
    float: left;
    text-align: center;
}

nav li{
    display: inline-block;
    text-decoration:none ;
}

nav li a {
    color: white;
    font-size: 15px;
    /* font-weight: bold; */
    text-decoration: none;
    margin: 0 15px;
}

#bottone a:hover{
    text-decoration: none;
}

nav li a:hover{
    text-decoration: underline ;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.btn{
    color: black;
    font-size: 15px;
    background-color: white;
    padding:5px 10px;
    border-radius: 2em;
    text-decoration: none;
}

#jumbotron{
    height: 550px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    text-align: center;
    position: relative;
}

.text{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50% , -65%);
    color: white;
}

#jumbotron h1{
    font-size: 60px;
    margin-bottom: 30px;
}

#jumbotron p{
    font-size: 18px;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 30px;
}

.big{
    font-size:20px;
    padding: 15px 20px;
    margin: 0 10px;
}

.white{
    background-color: white;
    color: black;
}


.black{
    background-color: black;
    color: white;
}

.celestino{
    background-color: rgb(71, 144, 147);
    color: white;
}

/* ***** main ***** */

.img-test{
    width:600px;
    height: 400px;
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
    /* margin-right: 50px;     */
}

#img-t{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.test-img{
    width: 250px;
    height: 500px;
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    /* margin-bottom: 300px; */
    margin-right: 100px;
}

.parte-centrale{
    width: 250px;
    height: 300px;
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
    /* margin-bottom: 300px; */
    /* margin-right: 100px; */
}

.parte-centrale2{
    width:600px;
    height: 400px;
    text-align: center;
    margin-top: 200px;
    margin-left: 150px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.img-test ,.test-img {
    /* background-color: aqua;  */
    float: left;
}

.parte-centrale , .parte-centrale2{
    /* background-color: blueviolet; */
    float: left;
}

.top{
    padding-top: 30px;
    font-size: 35px;
    text-align: left;
    font-weight: 800;
}

.paragrafo{
    margin-top: 30px;
    text-align: justify;
}

.box-t{
    margin-top: 150px;
    float: left;
    background-color:purple;
    text-align: center;
    padding-bottom: 100px;
}

.testo h1{
    font-weight: 800;
}

.testo > p{
    padding-top: 10px;
    margin: 0 200px;
}


/* ***** footer ***** */

/* ***** debug ***** */

.debug .container{
    /* background-color: red;  */
    height: 100%;
    border: 1px solid black;
} 

/* .debug .clearfix div{
    height: 80px;
    background-color: purple; 
} */

/* .debug .clearfix nav{
    height: 80px;
    background-color: white; 
} */

/* .debug header{
    background-color: grey; 
 } */

/* .debug #jumbotron{
     background-color: yellow; 
} */

.debug main{
    /* height: 900px;  */
    background-color: green;
}

.debug footer{
    height: 300px;
    background-color: blue;
}